body,
html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d24ca;
  box-sizing: border-box;
  user-select: none;
}
#container {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: flex-end;
}
.plan {
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  margin-right: 20px;
  border: 1px solid black;
}
.plan:hover {
  transform: scale(1.1);
  #getstarted {
    color: #000;
    background-color: yellow;
    font-weight: lighter;
    border: transparent;
  }
}
#getstarted {
  width: 100%;
  padding: 10px;
  color: #1d24ca;
  background-color: #ffffff;
  border: 2px solid #1d24ca;
  border-radius: 20px;
}
#getstarted:active {
  transform: scale(1.2);
}
h1 {
  color: wheat;
  font-size: 40px;
}
#title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#toggle {
  position: relative;
  display: flex;
  width: 300px;
  background-color: #ddd;
  border-radius: 25px;
  padding: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#toggle input[type="radio"] {
  display: none;
}
#toggle label {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  z-index: 1;
  cursor: pointer;
  transition: color 0.3s ease;
}

#toggle .slider {
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(33.33% - 10px);
  height: calc(100% - 10px);
  background-color: #1d24ca;
  border-radius: 20px;
  transition: left 0.3s ease;
  z-index: 0;
}
#monthly:checked ~ .slider {
  left: 5px;
}

#quarterly:checked ~ .slider {
  left: calc(33.33% + 5px);
}

#yearly:checked ~ .slider {
  left: calc(66.66% + 5px);
}

#monthly:checked ~ label[for="monthly"],
#quarterly:checked ~ label[for="quarterly"],
#yearly:checked ~ label[for="yearly"] {
  color: white;
}
@media (max-width: 1070px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 800px) {
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .plan {
    margin: 20px 0px;
  }
}
@media (max-width: 300px) {
  #toggle {
    width: 100%;
  }
}
